=render partial: 'header'
.news
  .new
    = form_with model:@item, id: "new__items__form", local: true do |f| 
      .new__photo
        .new__photo__pop
          %label.new__all-terop
            Upload a photo
        .new__photo__terop
          1枚アップロードできます
          #image-box-1
            .item-num-0#image-box__container
              = f.fields_for :images do |i|
                .input-area
                  = i.file_field :url, type: 'file',  value:"", style: "display:none", id:"img-file"
                  %label{for: "img-file"}
                    %i.fas.fa-camera
      .new__explanation
        .new__explanation__pop
          %label.new__all-terop
            Item name
        .new__all-box
          = f.text_field :name, class:"new__all__text-field", id: "item__name", placeholder: "40文字まで", maxlength: 40
        .new__all-heading
          %label.new__all-terop
            Detailed item
        .new__explanation__area
          = f.text_area :introduce, class: "new__all__text-field new__explanation__area-field", id:"item__introduce",placeholder: "商品の説明 （ 1,000文字以内)&#13;&#10;(色、素材、重さなどよかった点)".html_safe
        .new__explanation__length
          %span.new__length-child
            0/1000
          .new__length-par
      .new__show
        %label.new__all-terop
          Category
        .listing-form-box
          .listing-product-detail__category
            .listing-select-wrapper
              .listing-select-wrapper__box.new__all-box
                -# = f.select :category_id, options_for_select( @category_parent_array.map{|c| [c[:name], c[:id]]}),{include_blank: "選択してください"}, { class: "listing-select-wrapper__box--select new__all__text-field", id: "parent_category"}
                .categoryBox
                  -# =f.form_with :category do |i|
                  =f.input :category {type: "radio" ,name: "category", id: "category", class:"category" , value: "1" }
                    -# %label :cateogry 
                    衣類
                  %input{type: "radio" ,name: "category", id: "category", class:"category" , value: "2" }インテリア・住まい
                  %input{type: "radio" ,name: "category", id: "category", class:"category" , value: "3" }本・音楽・ゲーム
                  %input{type: "radio" ,name: "category", id: "category", class:"category" , value: "4" }おもちゃ・ホビー
                  %input{type: "radio" ,name: "category", id: "category", class:"category" , value: "5" }コスメ・香水・美容
                  %input{type: "radio" ,name: "category", id: "category", class:"category" , value: "6" }家電・スマホ・カメラ
                  %input{type: "radio" ,name: "category", id: "category", class:"category" , value: "7" }スポーツ・レジャー
                  %input{type: "radio" ,name: "category", id: "category", class:"category" , value: "8" }ハンドメイド
                  %input{type: "radio" ,name: "category", id: "category", class:"category" , value: "9" }自動車・バイク
                  %input{type: "radio" ,name: "category", id: "category", class:"category" , value: "10" }食べ物
                  %input{type: "radio" ,name: "category", id: "category", class:"category" , value: "11" }その他
                
        
        .new__all-heading
          %label.new__all-terop
            Brand
        .new__all-box
          = f.text_field :brand, class: "new__all__text-field", placeholder: "ブランド名"

      .new__price
        .new__price__price
          %label.new__all-terop
            Price
          .span__price
            ¥
            = f.number_field :price, class: "new__price__field"

      .new__form
        = f.submit "POST", class: "new__form-submit new__all-submit"
        = f.submit "SAVE", class: "new__form-draft new__all-submit"
        .new__form-back
          = link_to :back, class:'new__form-back__link new__all-link' do
            Back