=render partial: 'header'
.news
  .new
    = form_with model:@item, id: "new__items__form", local: true do |f| 
      .new__photo
        .new__photo__pop
          %label.new__all-terop
            Upload a photo
        .new__photo__terop
          1枚アップロードできます
          .img-preview
            %img{id: "img-preview",width:490,height:320}
          #image-box-1
            .item-num-0#image-box__container
              .input-area
                = f.file_field :image, type: 'file',  value:"", style: "display:none", id:"img-file"
                %label{for: "img-file"}
                  %i.fas.fa-camera
      .new__explanation
        .new__explanation__pop
          %label.new__all-terop
            Item name
        .new__all-box
          = f.text_field :name, class:"new__all__text-field", id: "item__name", placeholder: "40文字まで", maxlength: 40
        .new__all-heading
          %label.new__all-terop
            Detailed item
        .new__explanation__area
          = f.text_area :introduce, class: "new__all__text-field new__explanation__area-field", id:"item__introduce",placeholder: "商品の説明 （ 1,000文字以内)&#13;&#10;(色、素材、重さなどよかった点)".html_safe
        .new__explanation__length
          %span.new__length-child
            0/1000
          .new__length-par
      .new__category
        %label.new__all-terop
          Category
        .listing-form-box
          .categoryBox
            = f.radio_button :category, :衣類 ,id:"category_id_0"
            = f.label :衣類 ,class: "category", for: "category_id_0"
          .categoryBox
            = f.radio_button :category, :インテリア・住まい, id:"category_id_1"
            = f.label :インテリア・住まい ,class: "category", for: "category_id_1"
          .categoryBox
            = f.radio_button :category, :本・音楽・ゲーム, id:"category_id_2"
            = f.label :本・音楽・ゲーム ,class: "category", for: "category_id_2"
          .categoryBox
            = f.radio_button :category, :おもちゃ・ホビー, id:"category_id_3"
            = f.label :おもちゃ・ホビー ,class: "category", for: "category_id_3"
          .categoryBox
            = f.radio_button :category, :コスメ・香水・美容, id:"category_id_4"
            = f.label :コスメ・香水・美容 ,class: "category", for: "category_id_4"
          .categoryBox
            = f.radio_button :category, :家電・スマホ・カメラ, id:"category_id_5"
            = f.label :家電・スマホ・カメラ ,class: "category", for: "category_id_5"
          .categoryBox
            = f.radio_button :category, :スポーツ・レジャー, id:"category_id_6"
            = f.label :スポーツ・レジャー ,class: "category", for: "category_id_6"
          .categoryBox
            = f.radio_button :category, :ハンドメイド, id:"category_id_7"
            = f.label :ハンドメイド ,class: "category", for: "category_id_7"
          .categoryBox
            = f.radio_button :category, :自動車・バイク, id:"category_id_8"
            = f.label :自動車・バイク ,class: "category", for: "category_id_8"
          .categoryBox
            = f.radio_button :category, :食べ物, id:"category_id_9"
            = f.label :食べ物 ,class: "category", for: "category_id_9"
          .categoryBox
            = f.radio_button :category, :その他, id:"category_id_10"
            = f.label :その他 ,class: "category", for: "category_id_10"
      .new__brand
        .new__all-heading
          %label.new__all-terop
            Brand
        .new__all-box
          = f.text_field :brand, class: "new__all__text-field", placeholder: "ブランド名"
      .new__rating
        .new__all-heading
          %label.new__all-terop
            Rating
        #star-rating.star-rating
          =f.hidden_field :rating ,id:"rate"
          :javascript
            $(document).on('turbolinks:load', function() { 
              $(document).ready(function(){
                $(function raty(){
                    $('#star-rating').raty({  
                    size: 50 ,
                    number: 5 ,
                    score: 0 ,
                    half: true,
                    path: '/assets/',   
                    half: true,
                    scoreName: 'item[rating]'
                  });
                })
              })
            })

      .new__price
        .new__price__price
          %label.new__all-terop
            Price
          .span__price
            ¥
            = f.number_field :price, class: "new__price__field"

      .new__form
        = f.submit "POST", class: "new__form-submit new__all-submit"
        -# = f.submit "SAVE", class: "new__form-draft new__all-submit"
        .new__form-back
          = link_to "/", class:'new__form-back__link new__all-link' do
            Back